// VARIABLES
// Colors:
$c01-light: #FFF;
$c01-regular: #F4F4F4;
$c01-dark: #DDD;
$c01-darkest: #979797;
$c02-light: #646464;
$c02-regular: #3C3C3C;
$c02-dark: #2E2E2E;
$bg-dark: #3A3A4C;
$bg-alt: #010006;
