.select_div {
	background-color: #83C686;
	border-radius: 20px;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 2px;
	margin-right: 10px;
}

.none_select {
	border: 1px solid #9B9B9B;
	border-radius: 20px;
	padding-right: 7px;
	padding-left: 7px;
	padding-top: 2px;
	margin-right: 10px;
}
.iconSize {
	font-size: 20px;
	margin-left: 5px;
	margin-top: 5px;
	font-weight: 300;
}
.exportButton {
	background-color: #54A1D3;
	margin-right: 30px;
	padding: 12px 25px 12px 25px;
	color: white;
}

.cancelButton {
	color: #E84F4F;
	margin-top: 5px;
}
.advanceDropDown {
	width: 150px;
	height: 20px;
	line-height: 10px;
}